/* 
    Document   : salomStatique
    Created on : 18 mars 2005, 15:45
    Author     : vapu8214
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
	font-family:"times new roman",times,serif;
}

#title_titlepage{
	margin-top: 8cm;	
}

#date_author{
	margin-top: 8cm;
}

#email_monitor {
	display: none;
}

#email_print {
	display: block;
}

#sommaire {
	color: #000;
}

.lien_inclus {
	display: none;
}
  
h1 {
  page-break-before: always;
  padding-top: 2em;
}

h1:first-child {
  page-break-before: avoid;
  counter-reset: page;
}

h1 span {
	display: none;
}

h1, h2, h3, h4, h5, h6 { 
	color: black; 
}
  
hr {
	display:none;
}
  
a {
  color: #000;
  text-decoration: none;
}
.passed {
	color: black;
}
.failed {
	color: black;
}
.inconclusif {
	color: black;
}